<section class="section">
    <div class="container has-text-centered">
      <p class="green-text">Thank you for your purchase! You will be contacted once the order has shipped.</p>
      <p class="mt-3">Please <%= link_to "return home.", root_path %></p>
    </div>
</section>