<h1 class="title is-4">Characters</h1>

<div class="ml-3" >
<%= paginate @characters %>
</div>

<br>

<ul>
  <% @characters.each do |i| %>
  <li><%= link_to i.name, i %> (<%= i.amiibos.count %>)</li>
  <% end %>
</ul>

