<div class="container">
  <% content_for(:html_title) {@character.name} %>

  <h1 class="title is-4"><%= @character.name %> Amiibos</h1>
  <h2>Displaying <%= pluralize @character.amiibos.count, "Amiibo"%>:</h2>
  <br>

  <ul>
    <% @character.amiibos.order(:name).each do |amiibo| %>
      <li><%= link_to amiibo.name, amiibo %></li>
    <% end %>
  </ul>
</div>
