<h1 class="title is-4"><%= @character.name %> Amiibos</h1>
<h2>Displaying <%= @character.amiibos.count %> Amiibo(s):</h2>
<br>

<ul>
  <% @character.amiibos.order(:name).each do |amiibo| %>
    <li><%= link_to amiibo.name, amiibo %></li>
  <% end %>
</ul>
