/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

 .pagination  {
  width: 500px;
  margin-right: 0px;
}

/* Ensure the navbar menu is always displayed */
.navbar-menu {
  display: flex !important;
}

/* Hide the navbar burger icon */
.navbar-burger {
  display: none !important;
}

.amiibo-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 300px;
  width: 100%;
  padding: 10px;
}

.amiibo-image-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.amiibo-image {
  max-width: 180px;
  max-height: 100%;
  object-fit: contain;
}

.add-to-cart{
  text-align: center;
  margin-top: 7px;
}

.add-to-cart-flash{
  text-align: center;
  margin-top: 30px;
  background-color: #eaf7ea;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}