<div class="container">
  <h1 class="title is-4">All Amiibos</h1>

  <div class="ml-3" >
  <%= paginate @amiibos %>
  </div>

  <br>

  <ul class = "column is-one-third">
    <% @amiibos.each do |i| %>
    <li><%= link_to i.name, i %></li>
    <% end %>
  </ul>
</div>


